body {
  background: #e8f4ea;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  max-width: 575px;
  min-width: 575px;

  background: #ffb5b5;
  margin: 80px auto;
  color: white;
  border-radius: 6px;
  padding: 20px 30px 30px 40px;
}

a {
  color: #f28585;
}

h1 {
  margin: 0;
  font-size: 42px;
}

h2 {
  margin: 0px;
  font-size: 15px;
}

.material-symbols-outlined {
  font-size: 15px;
}

.time {
  position: relative;
  bottom: 3px;
  font-size: 12px;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px 0px 0px;
}
.current-weather-info {
  border-right: 1px solid white;
  padding: 35px 60px 25px 0px;
}

.current-temperature-info {
  display: flex;
  margin-right: 50px;
}

.current-temperature-value {
  font-size: 45px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 25px;
  position: relative;
  bottom: 14px;
  font-weight: bold;
}
.current-temperature-description {
  font-size: 15px;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
}

.forecast-max-temperature {
  color: #f28585;
  font-weight: bold;
}

.forecast-min-temperature {
  color: #f28585;
  opacity: 0.8;
}

form {
  padding: 20px 0px 30px 0px;
}

.search-input {
  padding: 10px 200px 10px 10px;
  border: none;
  background: white;
  border-radius: 4px;
  font-size: 16px;
  color: #f28585;
}

.search-button {
  padding: 10px 50px 10px 50px;
  border: none;
  background: #f28585;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

footer {
  border-top: 1px solid white;
  padding-top: 20px;
}
